// SERIF
$palatino: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

// SANS
$trebuchet: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$verdana: Verdana, Geneva, sans-serif;
$lucida-grande: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

$baskerville: Baskerville, Garamond, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
$hoefler: "Hoefler Text", Garamond, Baskerville, "Baskerville Old Face", "Times New Roman", serif;
$georgia: Georgia, Cambria, "Times New Roman", Times, serif;
$helvetica: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;

