@import "compass/reset";
@import "compass/css3";
@import "config";
@import "fonts";
@import "mixins";

* {
  @include box-sizing(border-box);
}

body {
  color: $primary-font-color;
  font: 300 16px/1.4em $helvetica;
}

h1,h2,h3 {}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  width: 100%;
  padding: 0 1em;
  margin: 0 auto;

  @include respond-to($large) {
    padding: 0;
    width: 768px;
  }
}

// NAVIGATION
nav {
  text-align: center;

  ul {
    li {
      padding: 0.25em 0;
      padding-right: 0.5em;
      text-align: center;
      display: inline-block;
    }
  }
}

// HEADER

header {
  margin-top: 1em;

  h1 {
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    // font-weight: lighter;
    // text-transform: uppercase;

    @include respond-to($small) {
      text-align: left;
    }
  }

  nav {
    @include respond-to($small) {
      text-align: left;
    }
  }
}

// INDEX
p.intro {
  margin: 1em 0 2em 0;
  line-height: 1.2em;
}

// ARTICLE
article {
  margin: 1em 0;
  // border-top: 1px dotted #EEE;

  h1 {
    font-size: 1.2em;
    font-weight: normal;
    margin: .25em 0 0 0;

    a {
      text-transform: uppercase;
    }

    @include respond-to($small) {
      margin: 1em 0 0 0;
    }
  }

  span.created-at {
    display: block;
    text-align: center;

    @include respond-to($small) {
      float: right;
    }
  }

  span.author {
    display: block;
    // font-size: 80%;
    margin-bottom: 1em;

    em {
      color: $tag-color;
      font-style: italic;
    }
  }

  p {
    margin-bottom: 1em;
  }

  p.summary {
    margin-bottom: 0.25em;
  }

  pre {
    margin-bottom: 1em;
  }

  ul.tags {
    // float: right;
    // margin-top: .5em;

    &:before {
      font-size: 80%;
      content: 'tags: ';
    }

    li {
      font-size: 80%;
      display: inline;
      // font-weight: 400;
      color: $tag-color;
    }

    // @include respond-to($small) {
    //   margin-top: .5em;
    // }
  }
}

// POSTS INDEX
ul.years {
  li.year {
    border-bottom: 1px solid $grey86;

    // &:last-child {
    //   border-bottom: none;
    // }

    h3 {
      font-size: 110%;
      text-align: center;
      margin: 1em 0 0.5em 0;

      @include respond-to($small) {
        text-align: left;
      }
    }

    ul.posts {
      li {
        a {
          display: block;
          margin-right: 10%;
          padding: 0.25em 0;
          text-transform: uppercase;
        }

        span.created-at {
          float: right;
        }
      }
    }
  }
}

// AUTHORS INDEX
ul.authors {
  margin-top: 1em;

  li {
    border-bottom: 1px solid $grey86;

    &:last-child {
      border-bottom: none;
    }

    a {
      display: block;
      padding: 0.25em 0;
      text-transform: uppercase;
    }
  }
}

// FOOTER

footer {
  margin-top: 2em;
  border-top: 1px solid $grey86;
}

@import "highlighting";