@import "compass/reset";
@import "compass/css3";
@import "config";
@import "fonts";
@import "mixins";

* {
  @include box-sizing(border-box);
}

body {
  color: $primary-font-color;
  font: 300 16px/1.4em $helvetica;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  width: 100%;
  padding: 0 1em;
  margin: 0 auto;

  @include respond-to($large) {
    padding: 0;
    width: 768px;
  }
}

// NAVIGATION
nav {
  text-align: center;

  ul {
    li {
      padding: 0.25em 0;
      padding-right: 0.5em;
      text-align: center;
      display: inline-block;
    }
  }
}

// HEADER

header {
  margin-top: 1em;

  h1 {
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    // font-weight: lighter;
    // text-transform: uppercase;

    @include respond-to($small) {
      text-align: left;
    }
  }

  nav {
    @include respond-to($small) {
      text-align: left;
    }
  }
}

// INDEX
p.intro {
  margin: 1em 0 2em 0;
  line-height: 1.2em;
}

// ARTICLE
article {
  margin: 1em 0;
  // border-top: 1px dotted #EEE;

  h1 {
    font-size: 1.4em;
    font-weight: normal;
    margin: .25em 0 0 0;

    a {
      text-transform: uppercase;
    }

    @include respond-to($small) {
      margin: 1em 0 0 0;
    }
  }

  h2 {
    font-size: 1.05em;
    font-weight: bold;
    margin: 2em 0 0.5em 0;
  }

  h3 {
    color: $grey60;
    font-weight: bold;
    margin: 1em 0 0.25em 0;
  }

  span.created-at {
    display: block;
    text-align: center;

    @include respond-to($small) {
      float: right;
    }
  }

  span.author {
    display: block;
    // font-size: 80%;
    margin-bottom: 1em;

    em {
      color: $tag-color;
      font-style: italic;
    }
  }

  p {
    margin-bottom: 1em;

    strong {
      font-weight: bold;
    }
  }

  p.summary {
    margin-bottom: 0.25em;
  }

  pre {
    margin-bottom: 1em;
  }

  ul {
    margin-left: 0.5em;
    margin-bottom: 1em;

    li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }

  ol {
    margin-left: 0.5em;
    margin-bottom: 1em;

    li {
      list-style-type: decimal;
      list-style-position: inside;
    }
  }

  ul.tags {
    // float: right;
    // margin-top: .5em;
    margin: 0;

    &:before {
      font-size: 80%;
      content: 'tags: ';
    }

    li {
      font-size: 80%;
      display: inline;
      // font-weight: 400;
      color: $tag-color;
    }

    // @include respond-to($small) {
    //   margin-top: .5em;
    // }
  }

  em {
    font-style: italic;
  }

  blockquote {
    padding: 1.5em;
    margin: 0.5em 0;
    background: #F9F9F9;
    border-left: 0.25em solid #CCC;
    border-right: 0.25em solid #CCC;

    p {
      display: inline;
      line-height: 1.7em;
    }
  }
}

// POSTS INDEX
ul.years {
  li.year {
    border-bottom: 1px solid $grey86;

    // &:last-child {
    //   border-bottom: none;
    // }

    h3 {
      font-size: 110%;
      text-align: center;
      margin: 1em 0 0.5em 0;

      @include respond-to($small) {
        text-align: left;
      }
    }

    ul.posts {
      li {
        a {}
        span.created-at {}
      }
    }
  }
}

ul.posts {
  li {
    a {
      display: block;
      margin-right: 10%;
      padding: 0.25em 0;
      text-transform: uppercase;
    }

    span.created-at {
      float: right;
    }
  }
}

// AUTHORS INDEX
ul.authors {
  margin-top: 1em;

  li {
    border-bottom: 1px solid $grey86;

    &:last-child {
      border-bottom: none;
    }

    a {
      display: block;
      padding: 0.25em 0;
      text-transform: uppercase;
    }
  }
}

// AUTHOR POSTS INDEX
ul.author-posts {
  margin-top: 1em;

  li {
    border-bottom: 1px solid $grey86;

    &:last-child {
      border-bottom: none;
    }
  }
}

// FOOTER

footer {
  margin-top: 2em;
  border-top: 1px solid $grey86;
}

@import "highlighting";
