/* line 17, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 333 */
/* 666 */
/* 999 */
/* line 7, ../_sass/application.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../_sass/application.scss */
body {
  color: #444444;
  font: 300 16px/1.4em Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 18, ../_sass/application.scss */
a {
  color: #6669f2;
  text-decoration: none;
}
/* line 22, ../_sass/application.scss */
a:hover {
  text-decoration: underline;
}

/* line 27, ../_sass/application.scss */
.container {
  width: 100%;
  padding: 0 1em;
  margin: 0 auto;
}
@media only screen and (min-width: 769px) {
  /* line 27, ../_sass/application.scss */
  .container {
    padding: 0;
    width: 768px;
  }
}

/* line 39, ../_sass/application.scss */
nav {
  text-align: center;
}
/* line 43, ../_sass/application.scss */
nav ul li {
  padding: 0.25em 0;
  padding-right: 0.5em;
  text-align: center;
  display: inline-block;
}

/* line 54, ../_sass/application.scss */
header {
  margin-top: 1em;
}
/* line 57, ../_sass/application.scss */
header h1 {
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;
}
@media only screen and (min-width: 481px) {
  /* line 57, ../_sass/application.scss */
  header h1 {
    text-align: left;
  }
}
@media only screen and (min-width: 481px) {
  /* line 69, ../_sass/application.scss */
  header nav {
    text-align: left;
  }
}

/* line 77, ../_sass/application.scss */
p.intro {
  margin: 1em 0 2em 0;
  line-height: 1.2em;
}

/* line 83, ../_sass/application.scss */
article {
  margin: 1em 0;
}
/* line 87, ../_sass/application.scss */
article h1 {
  font-size: 1.2em;
  font-weight: normal;
  margin: .25em 0 0 0;
}
/* line 92, ../_sass/application.scss */
article h1 a {
  text-transform: uppercase;
}
@media only screen and (min-width: 481px) {
  /* line 87, ../_sass/application.scss */
  article h1 {
    margin: 1em 0 0 0;
  }
}
/* line 101, ../_sass/application.scss */
article span.created-at {
  display: block;
  text-align: center;
}
@media only screen and (min-width: 481px) {
  /* line 101, ../_sass/application.scss */
  article span.created-at {
    float: right;
  }
}
/* line 110, ../_sass/application.scss */
article span.author {
  display: block;
  margin-bottom: 1em;
}
/* line 115, ../_sass/application.scss */
article span.author em {
  color: #aaaaaa;
  font-style: italic;
}
/* line 121, ../_sass/application.scss */
article p {
  margin-bottom: 1em;
}
/* line 125, ../_sass/application.scss */
article p.summary {
  margin-bottom: 0.25em;
}
/* line 129, ../_sass/application.scss */
article pre {
  margin-bottom: 1em;
}
/* line 137, ../_sass/application.scss */
article ul.tags:before {
  font-size: 80%;
  content: 'tags: ';
}
/* line 142, ../_sass/application.scss */
article ul.tags li {
  font-size: 80%;
  display: inline;
  color: #aaaaaa;
}

/* line 157, ../_sass/application.scss */
ul.years li.year {
  border-bottom: 1px solid gainsboro;
}
/* line 164, ../_sass/application.scss */
ul.years li.year h3 {
  font-size: 110%;
  text-align: center;
  margin: 1em 0 0.5em 0;
}
@media only screen and (min-width: 481px) {
  /* line 164, ../_sass/application.scss */
  ul.years li.year h3 {
    text-align: left;
  }
}
/* line 176, ../_sass/application.scss */
ul.years li.year ul.posts li a {
  display: block;
  margin-right: 10%;
  padding: 0.25em 0;
  text-transform: uppercase;
}
/* line 183, ../_sass/application.scss */
ul.years li.year ul.posts li span.created-at {
  float: right;
}

/* line 192, ../_sass/application.scss */
ul.authors {
  margin-top: 1em;
}
/* line 195, ../_sass/application.scss */
ul.authors li {
  border-bottom: 1px solid gainsboro;
}
/* line 198, ../_sass/application.scss */
ul.authors li:last-child {
  border-bottom: none;
}
/* line 202, ../_sass/application.scss */
ul.authors li a {
  display: block;
  padding: 0.25em 0;
  text-transform: uppercase;
}

/* line 212, ../_sass/application.scss */
footer {
  margin-top: 2em;
  border-top: 1px solid gainsboro;
}

/* Prism
=============================================================================*/
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
/* line 11, ../_sass/_highlighting.scss */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font: 300 16px/1.4em "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* line 30, ../_sass/_highlighting.scss */
::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

/* line 35, ../_sass/_highlighting.scss */
::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  /* line 42, ../_sass/_highlighting.scss */
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
/* line 48, ../_sass/_highlighting.scss */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* line 55, ../_sass/_highlighting.scss */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  border: 1px solid #EEEEEE;
}

/* Inline code */
/* line 61, ../_sass/_highlighting.scss */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

/* line 69, ../_sass/_highlighting.scss */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

/* line 73, ../_sass/_highlighting.scss */
.token.punctuation {
  color: #999;
}

/* line 77, ../_sass/_highlighting.scss */
.namespace {
  opacity: .7;
}

/* line 84, ../_sass/_highlighting.scss */
.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905;
}

/* line 90, ../_sass/_highlighting.scss */
.token.selector,
.token.attr-name,
.token.string {
  color: #690;
}

/* line 98, ../_sass/_highlighting.scss */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

/* line 105, ../_sass/_highlighting.scss */
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

/* line 111, ../_sass/_highlighting.scss */
.token.regex,
.token.important {
  color: #e90;
}

/* line 115, ../_sass/_highlighting.scss */
.token.important {
  font-weight: bold;
}

/* line 119, ../_sass/_highlighting.scss */
.token.entity {
  cursor: help;
}
