/* line 17, ../../../.rvm/gems/ruby-2.1.0@growingdevs/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.0@growingdevs/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.0@growingdevs/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.0@growingdevs/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.0@growingdevs/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.0@growingdevs/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.0@growingdevs/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.0@growingdevs/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.0@growingdevs/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 333 */
/* 666 */
/* 999 */
/* line 7, ../_sass/application.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../_sass/application.scss */
body {
  color: #444444;
  background: #fdfdfd;
  font: 300 16px/1.4em "Libre Baskerville", Baskerville, serif;
  line-height: 1.6em;
}

/* line 18, ../_sass/application.scss */
h1, h2, h3 {
  font-family: "Lato", times, sans-serif;
}

/* line 22, ../_sass/application.scss */
a {
  color: #6669f2;
  text-decoration: none;
}
/* line 26, ../_sass/application.scss */
a:hover {
  text-decoration: underline;
}

/* line 31, ../_sass/application.scss */
code {
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
}

/* line 35, ../_sass/application.scss */
.container {
  width: 100%;
  padding: 0 1em;
  margin: 0 auto;
}
@media only screen and (min-width: 769px) {
  /* line 35, ../_sass/application.scss */
  .container {
    padding: 0;
    width: 768px;
  }
}

/* line 47, ../_sass/application.scss */
nav {
  text-align: center;
  font-family: "Lato", times, sans-serif;
}
/* line 52, ../_sass/application.scss */
nav ul li {
  padding: 0.25em 0;
  padding-right: 0.5em;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .05em;
}

/* line 65, ../_sass/application.scss */
header {
  margin-top: 1em;
}
/* line 68, ../_sass/application.scss */
header h1 {
  font-weight: 400;
  font-size: 2.0em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .05em;
}
@media only screen and (min-width: 481px) {
  /* line 68, ../_sass/application.scss */
  header h1 {
    text-align: left;
  }
}
@media only screen and (min-width: 481px) {
  /* line 80, ../_sass/application.scss */
  header nav {
    text-align: left;
  }
}

/* line 88, ../_sass/application.scss */
p.intro {
  margin: 1em 0 2em 0;
  padding-left: 3em;
  padding-right: 6em;
  text-align: justify;
  line-height: 1.8em;
  font-size: 80%;
}

/* line 98, ../_sass/application.scss */
article {
  margin: 1em 0;
}
/* line 102, ../_sass/application.scss */
article h1 {
  font-size: 1.6em;
  font-weight: normal;
  margin: 0.25em 0 0 0;
  line-height: 1.8em;
}
/* line 108, ../_sass/application.scss */
article h1 a {
  font-weight: bold;
}
@media only screen and (min-width: 481px) {
  /* line 102, ../_sass/application.scss */
  article h1 {
    margin: 1em 0 0 0;
  }
}
/* line 117, ../_sass/application.scss */
article h2 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 2em 0 0.5em 0;
}
/* line 123, ../_sass/application.scss */
article h3 {
  color: #999999;
  font-weight: bold;
  margin: 1em 0 0.25em 0;
}
/* line 129, ../_sass/application.scss */
article span.created-at {
  display: block;
  text-align: center;
  font-family: "Lato", times, sans-serif;
  line-height: 1.8em;
  margin-top: 1em;
}
@media only screen and (min-width: 481px) {
  /* line 129, ../_sass/application.scss */
  article span.created-at {
    float: right;
  }
}
/* line 141, ../_sass/application.scss */
article span.author {
  display: block;
  font-size: 80%;
  margin-bottom: 1em;
  font-weight: 400;
}
/* line 147, ../_sass/application.scss */
article span.author em {
  font-weight: 200;
}
/* line 152, ../_sass/application.scss */
article p {
  margin-bottom: 1em;
  line-height: 1.8em;
  font-family: "Libre Baskerville", Baskerville, serif;
}
/* line 154, ../_sass/application.scss */
article p strong {
  font-weight: bold;
}
/* line 161, ../_sass/application.scss */
article p.summary {
  margin-bottom: 0.25em;
}
/* line 165, ../_sass/application.scss */
article pre {
  margin-bottom: 1em;
}
/* line 169, ../_sass/application.scss */
article ul {
  margin-left: 0.5em;
  margin-bottom: 1em;
  font-family: "Libre Baskerville", Baskerville, serif;
}
/* line 174, ../_sass/application.scss */
article ul li {
  list-style-type: disc;
  list-style-position: inside;
}
/* line 180, ../_sass/application.scss */
article ol {
  margin-left: 0.5em;
  margin-bottom: 1em;
}
/* line 184, ../_sass/application.scss */
article ol li {
  list-style-type: decimal;
  list-style-position: inside;
}
/* line 190, ../_sass/application.scss */
article ul.tags {
  font-family: "Lato", times, sans-serif;
  margin: 0;
}
/* line 196, ../_sass/application.scss */
article ul.tags:before {
  font-size: 80%;
  content: 'tags: ';
}
/* line 201, ../_sass/application.scss */
article ul.tags li {
  font-size: 80%;
  display: inline;
  color: #aaaaaa;
}
/* line 213, ../_sass/application.scss */
article em {
  font-style: italic;
}
/* line 217, ../_sass/application.scss */
article blockquote {
  padding: 1.5em;
  margin: 0.5em 0;
  background: #F9F9F9;
  border-left: 0.25em solid #cccccc;
  border-right: 0.25em solid #cccccc;
}
/* line 224, ../_sass/application.scss */
article blockquote p {
  display: inline;
  line-height: 1.7em;
}

/* line 233, ../_sass/application.scss */
ul.years li.year {
  border-bottom: 1px solid gainsboro;
}
/* line 240, ../_sass/application.scss */
ul.years li.year h3 {
  font-size: 110%;
  text-align: center;
  margin: 1em 0 0.5em 0;
}
@media only screen and (min-width: 481px) {
  /* line 240, ../_sass/application.scss */
  ul.years li.year h3 {
    text-align: left;
  }
}
/* line 251, ../_sass/application.scss */
ul.years li.year ul.posts li {
  font-family: "Lato", times, sans-serif;
  font-weight: bold;
}

/* line 263, ../_sass/application.scss */
ul.posts li a {
  display: block;
  margin-right: 10%;
  padding: 0.25em 0;
}
/* line 269, ../_sass/application.scss */
ul.posts li span.created-at {
  float: right;
}

/* line 276, ../_sass/application.scss */
ul.authors {
  margin-top: 1em;
}
/* line 279, ../_sass/application.scss */
ul.authors li {
  border-bottom: 1px solid gainsboro;
  font-family: "Lato", times, sans-serif;
}
/* line 283, ../_sass/application.scss */
ul.authors li:last-child {
  border-bottom: none;
}
/* line 287, ../_sass/application.scss */
ul.authors li a {
  display: block;
  padding: 0.25em 0;
}

/* line 295, ../_sass/application.scss */
ul.author-posts {
  margin-top: 1em;
}
/* line 298, ../_sass/application.scss */
ul.author-posts li {
  border-bottom: 1px solid gainsboro;
}
/* line 301, ../_sass/application.scss */
ul.author-posts li:last-child {
  border-bottom: none;
}

/* line 309, ../_sass/application.scss */
footer {
  margin-top: 2em;
  border-top: 1px solid gainsboro;
}

/* Prism
=============================================================================*/
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
/* line 11, ../_sass/_highlighting.scss */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font: 300 16px/1.4em "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* line 30, ../_sass/_highlighting.scss */
::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

/* line 35, ../_sass/_highlighting.scss */
::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  /* line 42, ../_sass/_highlighting.scss */
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
/* line 48, ../_sass/_highlighting.scss */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* line 55, ../_sass/_highlighting.scss */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  border: 1px solid #eeeeee;
}

/* Inline code */
/* line 61, ../_sass/_highlighting.scss */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

/* line 69, ../_sass/_highlighting.scss */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

/* line 73, ../_sass/_highlighting.scss */
.token.punctuation {
  color: #999;
}

/* line 77, ../_sass/_highlighting.scss */
.namespace {
  opacity: .7;
}

/* line 84, ../_sass/_highlighting.scss */
.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905;
}

/* line 90, ../_sass/_highlighting.scss */
.token.selector,
.token.attr-name,
.token.string {
  color: #690;
}

/* line 98, ../_sass/_highlighting.scss */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

/* line 105, ../_sass/_highlighting.scss */
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

/* line 111, ../_sass/_highlighting.scss */
.token.regex,
.token.important {
  color: #e90;
}

/* line 115, ../_sass/_highlighting.scss */
.token.important {
  font-weight: bold;
}

/* line 119, ../_sass/_highlighting.scss */
.token.entity {
  cursor: help;
}
