<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <!-- <link rel="stylesheet" href="/stylesheets/syntax.css"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/application.css">

  </head>
  <body data-trigger="{{page.trigger}}">
    <div class="container">
      <header>
        <h1>{{ site.name }}</h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/posts.html">Posts</a></li>
            <li><a href="/authors.html">Authors</a></li>
            <li><a href="https://github.com/growingdevs/growingdevs.github.io#publishing-process">Contribute</a></li>
            <!-- <li><a href="/about/">About</a></li> -->
          </ul>
        </nav>
      </header>

      {{ content }}

      <footer>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/posts.html">Posts</a></li>
            <li><a href="/authors.html">Authors</a></li>
            <li><a href="https://github.com/growingdevs/growingdevs.github.io">Contribute</a></li>
            <!-- <li><a href="/about/">About</a></li> -->
          </ul>
        </nav>
      </footer>
    </div>

    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/prism.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>

    {% unless site.development %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-3879168-15', 'growingdevs.com');
      ga('send', 'pageview');
    </script>
    {% endunless %}
  </body>
</html>
