<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <!-- <link rel="stylesheet" href="/stylesheets/syntax.css"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/application.css">

  </head>
  <body>
    <div class="container">
      <header>
        <h1>{{ site.name }}</h1>
      </header>

      {{ content }}

      <footer>
      </footer>
    </div>
  </body>
</html>
